*{
  margin:0px;
  padding: 0px;
}
body {
    width:100%;
    height:100%;
    box-sizing: border-box;
    color:#FF64BD;
}
.main{
  width:100%;
  min-height:100vh;
  display: flex;
  flex-flow: column;
  gap:25px;
  align-items: center;
  background: #0F0F0F;
  padding-top: 40px;
}
.main h1{
  text-align: center;
  font-size: 30px;
  color:#FF64BD;
  text-transform: capitalize
}
.heart {
  text-align: center;
  font-size: 50px;
  animation: heart 1s linear infinite ;
}
@keyframes heart{
  0%,100%{
   transform:scale(1);
  }
  50%{
    transform: scale(1.5);
  }
}
.main button{
  padding: 10px;
  background: #DE2574;
  border:none;
  outline: none;
  border-radius: 5px;
  color:#F8F8F8;
  font-size: 14px;
}

.surprise{
  display: none;
}
.surprise p{
  font-size: 18px;
}
.buttons{
  display: flex;
  justify-content: center;
  gap:10px;
  margin-top: 25px;
  text-align: center;
}
.buttons button {
padding:10px 20px;
}
.heart_falling{
  position: absolute;
  left:50%;
  color:#FF4DAB;
  animation :fall  linear  infinite;
}
@keyframes fall{
  0%{
    top:-150px;
    opacity: 1;
    
  }
  100%{
    top:100vh;
    opacity:0.2;
  }
  
}
